/* Overriding default settings */
* {
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* Max width set to keep content within 1500px on bigger desktop screens */
#page-max-width {
    max-width: 1400px;
    margin: 0 auto;
}

/* Prevent scrolling */
html,
body {
    height: 100%;
    overflow: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hidden {
    display: none !important;
}

/* Headings & text styling */
h1 {
    font-weight: bold;
    font-size: 50px;
    padding: 10px;
    margin: 0;
}

h2 {
    padding-top: 15px;
    font-size: 30px;
}

h4 {
    font-style: italic;
    font-size: 20px;
}

p {
    padding: 10px;
    font-size: 25px;
}

#home-box p {
    margin-bottom: 50px;
}

input {
    margin-top: 25px;
    width: 150px;
    height: 35px;
}

#name-first-box h1 {
    padding-bottom: 0.1em;
    padding-top: 1rem;
}

#name-first-box h4 {}

#name-first-box p {}

#name-error {
    font-size: 0.8rem;
    font-family: inherit;
}

/* BACKGROUND */
#background-image {
    background-image: url(https://debbiebergstrom.github.io/tarantino_quiz/assets/images/bg_tab.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
    margin-bottom: 10vh;
}

/* SECTION W/ BACKGROUND-COLOR HOLDING THE SITES CONTENT FOR GAME, RULES & HIGHSCORE */
.section-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-content {
    width: 50%;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 33vh;
    color: white;
    padding: 40px;
    box-shadow: 0.1rem 0.18rem 1.5rem 0.5rem rgba(0, 0, 0, 0.39);
    border-radius: 0.3rem;
    text-align: center;
}

#home-box {
    margin-top: 30vh;
}

#rules-box {
    margin-top: 30vh;
}

#rules-box p {
    font-size: 20px;
}


/* BUTTONS  */
.btns {
    display: flex;
    align-items: center;

    justify-content: center;
}

.btns button {
    margin: 0.6rem;
    background-color: rgb(168, 26, 38);
    font-size: 1vw;
    color: white;
    border-radius: 0.375rem;
    box-shadow: 0rem 0.2rem 0rem #521313, 0rem 0.125rem 0.4rem rgba(0, 0, 0, 0.5);
    padding: 0.25rem 0.4rem;
    transition: all 0.3s ease;
}

.btn-game {
    transform: scale(1.6);
    margin: 0.4rem;
    padding-top: 1.25rem;
}

.btn-rules {
    margin: 1rem;
}

.btns button:hover {
    background-color: white;
    color: #2a2a2a;
    cursor: pointer;
}

.btns button:active {
    box-shadow: none;
    transform: translateY(2px);
}

#btn-submit {
    font-size: 30px;
    background-color: rgb(236, 236, 3);
    color: #2a2a2a;
    transition: all 0.3s ease;
    margin-top: 20px;
}

#btn-submit:hover {
    background-color: rgb(168, 26, 38);
    color: white;
    cursor: pointer;
}

#btn-to-name-first-2 {
    margin-top: 40px;
}

.exit-back {
    width: 6em;
    border-radius: 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 1.5em;
    transition: all 0.3s ease;
}

.exit {
    font-size: 1rem;
    color: #ffffff;
    background-color: #2a2a2a;
    border: 2px solid #ffffff;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exit:hover {
    background-color: rgb(168, 26, 38);
    color: white;
    cursor: pointer;
}

/* LIST STYLING - RULES & HIGHSCORE */

.lists {
    text-align: left;
    padding-left: 3rem;
    padding-bottom: 3rem;
    font-size: 30px;
}

/* THE QUIZ GAME */

#game-box {
    margin-top: 25vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.wrapper {
    flex: 9;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.img-wrapper {
    overflow: hidden;
    width: 100%;
    max-height: 138px;
}

#quiz-img {
    width: 100%;
    height: auto;
}

#answer-btns {
    margin-top: 1rem;
}

.btn-answ {
    background: #ffffff;
    color: #2a2a2a;
    font-size: 1rem;
    width: 90%;
    border: 1px solid #2a2a2a;
    margin-block: 4px;
    text-align: left;
    cursor: pointer;
    border-radius: 0.375rem;
    box-shadow: 0rem 0.125rem 0.4rem rgba(0, 0, 0, 0.5);
    padding: 0.2rem 0.3rem;
}

.btn-answ:hover:not([disabled]) {
    background: rgb(236, 236, 3);
    color: black
}

.btn-answ:disabled {
    cursor: no-drop;
}

.correct {
    background: #69cd27;
}

.incorrect {
    background: rgb(230, 37, 53);
}

#btn-next {
    background: rgb(236, 236, 3);
    color: black;
    font-size: 18px;
    font-weight: bolder;
    border: 1px solid #2a2a2a;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

/* bottom of game-box w/ question counter & timer */
#bottom {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.container-bottom {
    flex: 1;
}

#timer {
    background-color: white;
    color: #2a2a2a;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
}

#timer i {
    color: black;
}

#timer p {
    color: black;
    padding: 5px;
}

.question-count {
    width: 7em;
    font-size: 16px;
}

.score-images {
    display: none;
}

.space {
    margin-right: 4.5rem;
}


/* FOOTER */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 24px;
    background-color: white;
    text-align: center;
}

footer li {
    display: inline;
    font-size: 140%;
    margin: 3%;
}

.contact-icons a {
    color: #2a2a2a;
}

.contact-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#contact-us {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}





/* **********************MEDIA QUERIES************************* */

/* Laptop max-width 1600 px  */
@media screen and (max-width: 1600px) {

    .container-content {
        width: 30%;
        padding: 10px;
    }

    #home-box {
        margin-top: 26vh;
    }

    #home-box p {
        font-size: 20px;
        margin-bottom: 20px;
    }

    h1 {
        font-size: 30px;
        padding: 10px;
    }

    h4 {
        font-size: 15px;
    }

    #score-box {
        margin-top: 35vh;
    }

    #rules-box {
        margin-top: 20vh;
    }

    #rules-box h1 {
        font-size: 25px;
    }

    #rules-box h2 {
        font-size: 18px;
    }

    #rules-box p {
        font-size: 15px;
    }

    .lists {
        padding-bottom: 5px;
        font-size: 20px;
    }

    #first-name-box {
        font-size: 30px;
        padding: 10px;
    }

    #btn-submit {
        font-size: 20px;
    }

    #game-box h2 {
        font-size: 16px;
    }

    .btn-answ {
        font-size: 14px;
        width: 100%;
    }

    #btn-to-quiz {
        font-size: 22px;
    }

    .btns button {
        margin: 0.6rem;
        font-size: 1vw;
    }
}


/* Laptop max-width 1460 px  */
@media screen and (max-width: 1460px) {

    .container-content {
        width: 28%;
        padding: 8px;
    }

    #game-box {
        margin-top: 21vh;
    }

    #rules-box {
        margin-top: 18vh;
    }

    .btn-answ {
        font-size: 12px;
    }


}


/* Laptop max-width 1200 px  */
@media screen and (max-width: 1200px) {

    .container-content {
        width: 30%;
    }

    #home-box p {
        font-size: 16px;
        margin-bottom: 10px;
    }

    #game-box {
        margin-top: 20vh;
    }

    #rules-box {
        margin-top: 18vh;
    }

    .btn-answ {
        font-size: 12px;
    }

    #rules-box {
        margin-top: 20vh;
    }

    #rules-box h1 {
        font-size: 25px;
    }

    #rules-box h2 {
        font-size: 18px;
    }

    #rules-box p {
        font-size: 15px;
        padding: 3px;
    }

    .lists {
        padding-bottom: 5px;
        font-size: 20px;
    }

    .btns button {
        margin: 5px;
        font-size: 16px;
    }

    #btn-to-name-first-2 {
        margin-top: 22px;
    }

    input {
        margin-top: 14px;
        width: 180px;
        height: 27px;
    }

    h4 {
        font-size: 10px;
    }

    footer {
        height: 2rem;
    }

    footer li {
        display: inline;
        font-size: 100%;
        margin: 3%;
    }

}


/* Laptop max-width 1000 px  */
@media screen and (max-width: 1050px) {

    .container-content {
        width: 35%;
    }

    #game-box {
        margin-top: 20vh;
    }


    #game-box h2 {
        font-size: 14px;
        padding-top: 3px;
    }

    .btn-answ {
        font-size: 11px;
        width: 99%;
        border: 1px solid #2a2a2a;
        margin-block: 3px;
        margin-top: 4px;
    }


}

/* Tablet max-width 800px  */
@media screen and (max-width: 800px) {

    .container-content {
        width: 50%;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 20px;
    }

    #home-box {
        margin-top: 33vh;
    }

    #home-box p {
        font-size: 20px;
        margin-bottom: 10px;
    }

    #game-box {
        margin-top: 30vh;
    }

    #rules-box {
        margin-top: 30vh;
    }

    .btn-answ {
        font-size: 14px;
    }

    #rules-box h1 {
        font-size: 30px;
    }

    #rules-box p {
        font-size: 15px;
        padding: 3px;
    }

    .lists {
        padding-bottom: 5px;
        font-size: 20px;
    }

    .btns button {
        margin: 5px;
        font-size: 20px;
    }

    #btn-to-name-first-2 {
        margin-top: 22px;
    }

    input {
        margin-top: 14px;
        width: 180px;
        height: 27px;
    }

    h4 {
        font-size: 10px;
    }

    footer {
        height: 2rem;
    }

    footer li {
        display: inline;
        font-size: 100%;
        margin: 3%;
    }

}

/* TABLET S */
@media screen and (max-width: 650px) {

    .container-content {
        width: 80%;
    }

    .btn-answ {
        font-size: 12px;
    }

    #home-box {
        margin-top: 26vh;
    }


    #game-box {
        margin-top: 23vh;
    }

    #name-first-box {
        margin-top: 30vh;
    }

    #game-box h2 {
        font-size: 0.8rem;
    }

    .btns {
        padding: 0.1rem;
    }

    .btns button {
        margin: 0.3rem;
        font-size: 14px;
        padding: 0.3rem 0.4rem;
    }

    h1 {
        font-size: 7vw;
    }

    #score-box {
        margin-top: 31vh;
    }

    #rules-box {
        margin-top: 30vh;
    }

    #rules-box h1 {
        font-size: 6vw;
        padding: 0.1rem;
    }

    #rules-box h2 {
        font-size: 4vw;
    }


    #rules-box h4 {
        font-size: 2vw;
    }

    #rules-box p {
        font-size: 3.5vw;
        padding-bottom: 0.1rem;
    }

    #btn-to-name-first-2 {
        margin-top: 1rem;
    }

    #name-first-box {
        width: 80vw;
        margin-top: 40vh;
    }

    input {
        font-size: 0.9rem;
    }

    #btn-submit {
        font-size: 14px;
        padding: 0.4rem;
        margin: 0.3rem;
    }

    #btn-to-quiz {
        font-size: 16px;
    }

    h2 {
        font-size: 3vw;
    }

    h4 {
        font-size: 1.8vw;
    }

    p {
        font-size: 3vw;
    }

    #btn-game-rules {
        margin: 1.6rem;
    }

    #questions {
        padding-block: 0.7rem;
    }


    #btn-next {
        margin-block: 0.7rem;
        width: 90px;
        font-size: 14px;
        padding: 10px;
    }
}


/* MOBILE 375x812px iPhoneX */
@media screen and (max-width: 426px) {
    #background-image {
        background-image: url(https://debbiebergstrom.github.io/tarantino_quiz/assets/images/bg_mobile.jpg);
    }

    .container-content {
        width: 85%;
    }

    footer {
        height: 56px;
    }
}

/* MOBILE 375px*/
@media screen and (max-width: 376px) {

    .container-content {
        width: 80%;
    }

    #home-box {
        margin-top: 10vh;
    }

    #rules-box {
        margin-top: 16vh;
    }

    #game-box {
        margin-top: 10vh;
    }

    #name-first-box {
        margin-top: 28vh;
    }

    #bottom {
        margin-top: 2px;
        width:80%;
    }

    footer {
        height: 30px;
    }

    .space {
        margin-right: 0.5rem;
    }
}



/* MOBILE 320x568px iPhone5s */
@media screen and (max-width: 335px) {

    .container-content {
        width: 85%;
        margin-top: 25vh;
    }

    #home-box {
        margin-top: 18vh;
    }

    #home-box p {
        font-size: 16px;
    }

    #game-box {
        margin-top: 10vh;
        margin-bottom: 10px;
    }

    #game-box h2 {
        font-size: 13px;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }

    #game-box p {
        padding-bottom: 0.1rem;
        padding-left: 0.2rem;
    }

    .btn-answ {
        font-size: 10px;
        margin: 3px;
    }

    .btns {
        padding: 0.1rem;
    }

    #answer-btns {
        margin-top: 1px;
    }

    .btns button {
        margin: 0.3rem;
        font-size: 12px;
        padding: 0.3rem 0.4rem;
    }

    .space {
        margin-right: 10px;
    }

    h1 {
        font-size: 22px;
    }

    #highscore-list {
        padding-left: 0rem;
        padding-bottom: 0rem;
    }

    #rules-box {
        margin-top: 18vh;
    }

    #rules-box .exit-back {
        padding: 0.2em;
        margin-top: 0px;
    }

    #rules-box h1 {
        font-size: 6vw;
        padding: 0.1rem;
    }

    #rules-box h2 {
        font-size: 14px;
    }


    #rules-box h4 {
        font-size: 10px;
    }

    #rules-box p {
        font-size: 16px;
        padding-bottom: 0.1rem;
    }

    .lists {
        padding-left: 3rem;
        padding-bottom: 0rem;
    }

    #name-first-box {
        margin-top: 27vh;
    }

    #name-first-box .wrapper {
        width: auto;
    }

    #btn-to-name-first-2 {
        margin-top: 1rem;
    }

    #name-first-box input {
        font-size: 0.85rem;
    }

    #name-first-box h4 {
        padding-bottom: 0.5rem;
        padding-top: 0.1rem;
    }

    #score-box {
        margin-top: 30vh;
    }

    #btn-submit {
        font-size: 0.8rem;
        padding: 0.4rem;
        margin: 0.3rem;
    }

    h2 {
        font-size: 3vw;
    }

    h4 {
        font-size: 3vw;
    }


    #btn-game-rules {
        margin: 1.6rem;
    }

    #questions {
        padding-block: 0.7rem;
    }

    #btn-next {
        margin-block: 0.7rem;
        width: 70px;
        font-size: 12px;
        padding: 5px;
    }

    .exit-back {
        padding: 0.2em;
    }

    .exit {
        font-size: 1rem;
        width: 2rem;
        height: 2rem;
    }

    #bottom {
        margin-top: 0.1em;
        padding-top: 0;
    }

    footer {
        height: 20px;
    }
}